<!DOCTYPE HTML>
<html>
<title>
	Student Home: 
</title>
<body>
	This is students home
	<table>
		{% if student_attendance_list|length > 0 %}
		<tr>
			<th>Course Code</th>
			<th>Course Name</th>
			<th>Classes Attended</th>
			<th>Total classes</th>
		</tr>
		{% endif %}
		{% for row in student_attendance_list %}
		<tr>
			<td>{{ row.courseno }}</td>
			<td>{{ row.coursename }}</td>
			<td>{{ row.attended }}</td>
			<td>{{ row.total }}</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<br>
	<a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>