<!DOCTYPE HTML>
<html>
<title>
	Teacher Home 
</title>
<body>
	This is teacher home. These are the courses you have registered for.
	<table>
		<thead>
			{% if teacher_course_list|length > 0 %}
			<tr>
				<th>Course Name</th>
				<th>Semester</th>
				<th>Branch</th>
				<th>Section</th>
				<th></th>
			</tr>
		</thead>
		{% endif %}
		<tbody>
			{% for row in teacher_course_list %}
			<tr>
				<td>{{ row.coursename }}</td>
				<td>{{ row.semester }}</td>
				<td>{{ row.branch }}</td>
				<td>{{ row.section }}</td>
				<td>
					<a href="{{ url_for('teacher_class_update', aid=teacher_course_list.aid) }}">
						<span class="glyphicon glyphicon-pencil"></span> Update
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<br>
	<a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>