<!DOCTYPE HTML>
<html>
<title>
	Teacher Home 
</title>
<body>
	This is teacher home. These are the courses you have registered for.
	<table>
		{% if teacher_course_list|length > 0 %}
		<tr>
			<th>Course Name</th>
			<th>Semester</th>
			<th>Branch</th>
			<th>Section</th>
		</tr>
		{% endif %}
		{% for row in teacher_course_list %}
		<tr>
			<td>{{ row.coursename }}</td>
			<td>{{ row.semester }}</td>
			<td>{{ row.branch }}</td>
			<td>{{ row.section }}</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<br>
	<a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>