{% extends "base.html" %}

{% block sub %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ url_for('admin_home') }}">AUMS</a>
		</div>
		<div>
			{% set navigation_bar = [
				(url_for('view_teacher_list'), 'view_teacher_list', 'Teachers'),
				(url_for('view_student_list'), 'view_student_list', 'Students'),
				(url_for('view_course_list'), 'view_course_list', 'Courses'),
				(url_for('view_class_list'), 'view_class_list', 'Classes')
			] -%}
			{% set active_page = active_page|default('admin_home') -%}
			<ul class="nav navbar-nav">
				{% for href, endpoint, caption in navigation_bar %}
				<li {% if endpoint == active_page %} class="active" {% endif %}>
					<a href="{{ href|e }}">{{ caption|e }}</a>
				</li>
				{% endfor %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ url_for('logout') }}">
						<span class="glyphicon glyphicon-log-out"></span>
						Log out
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	{% block heading %}
	<div class="row">
		<div class="col-sm-7">
			<div class="jumbotron">
				<h1 class="text-primary">Welcome admin</h1>
			</div>
		</div>
	</div>
	{% endblock %}
	<br>
	<br>
	<br>
	{% block body %}
	{% endblock %}
</div>
{% endblock %}