{% extends "admin/form.html" %}

{% block form %}

<form action="{{ url_for('create_course_post') }}" method="post" role="form">
	<div class="form-group">
		<label for="courseno">Course number:</label>
		<input type="text" name="courseno" class="form-control" id="courseno">
	</div>

	<div class="form-group">
		<label for="coursename">Course name:</label>
		<input type="text" name="coursename" class="form-control" id="coursename">
	</div>

	<button type="submit" class="btn btn-default">Create</button>
</form>

{% endblock %}