{% extends "admin/form.html" %}

{% block welcome %}
<h1>Create a student.</h1>
{% endblock %}

{% block form %}

<form action="{{ url_for('create_student_post') }}" method="post" role="form">
	<div class="form-group">	
		<label for="rno">Register number:</label>
		<input type="text" name="rno" id="rno" class="form-control">
	</div>

	<div class="form-group">	
		<label for="name">Name:</label>
		<input type="text" name="name" id="name" class="form-control">
	</div>

	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" class="form-control">
	</div>

	<div class="form-group">
		<label for="class">Class:</label>
		<select name="classid" id="class" class="form-control">
			{% for row in class_list %}
			<option value="{{ row.classid }}">{{ row.semester + ' ' + row.branch + ' ' + row.section }}</option>
			{% endfor %}
		</select>
	</div>
	
	<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-ok"></span>
		Create
	</button>
</form>

{% endblock %}
