{% extends "admin/form.html" %}

{% block heading %}
<h1>Create a teacher.</h1>
{% endblock %}

{% block form %}

<form action="{{ url_for('create_teacher_post') }}" method="post" role="form">
	<div class="form-group">
		<label for="teacherid">Teacher ID:</label>
		<input type="text" name="teacherid" id="label" class="form-control">
	</div>

	<div class="form-group">	
		<label for="name">Name:</label>
		<input type="text" name="name" id="label" class="form-control">
	</div>

	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" name="password" id="label" class="form-control">
	</div>

	<button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-ok"></span>
		Create
	</button>
</form>

{% endblock %}