{% extends "admin/form.html" %}

{% block heading %}
<h1 class="text-primary">Change student details.</h1>
{% endblock %}

{% block form %}

<form action="{{ url_for('update_student_post') }}" method="post" role="form">
	<input type="hidden" value="{{ student_info.rno }}" name="rno" >

	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" value="{{ student_info.name }}" name="name" id="name" class="form-control" >
	</div>

	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" value="{{ student_info.password }}" name="password" id="password" class="form-control" >
	</div>

	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-floppy-save"></span>
		Save
	</button>
</form>

{% endblock %}
