{% extends "admin/base.html" %}

{% block body %}

<table>
	{% for row in course_teacher_list %}
	<tr>
		<td>{{ row.coursename }}</td>
		<td>{{ row.name }}</td>
		<td><a href="{{ url_for('delete_confirm', table_name='attendance_course', entry_key=row.aid) }}">Delete</a></td>
	</tr>
	{% endfor %}
</table>
<h3>Add a new teacher and course</h3>
<form action="{{ url_for('view_class_courses_post') }}" method="post">
	<dl>
		<dd><input type="hidden" name="classid" value="{{ classid }}"/></dd>
		<dt>Teacher name:</dt>
		<dd>
			<select name="teacherid">
				{% for row in teacher_list %}
				<option value="{{ row.teacherid }}">{{ row.name }}</option>
				{% endfor %}
			</select>
		</dd>
		<dt>Course name:</dt>
		<dd>
			<select name="courseno">
				{% for row in course_list %}
				<option value="{{ row.courseno }}">{{ row.coursename }}</option>
				{% endfor %}
			</select>
		</dd>
		<dd><input type="submit" value="Add" /></dd>
	</dl>
</form>

{% endblock %}